<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp3</title>
    <link rel="stylesheet" href="~/WebApp3.styles.css" asp-append-version="true" />
  </head>
  <body>
    <header>
      <a asp-area="" asp-page="/Index">Home</a>
      <a asp-area="" asp-page="/Privacy">Privacy</a>
    </header>
    <main role="main">
      @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>
