/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************************************************/
/************************ end of reset.css ****************************/
/**********************************************************************/
:root {
  --light-bg: #161f33;
  --dark-bg: rgb(15, 23, 42);
  --button-bg: rgb(14, 165, 233);
  --button-disabled-bg: rgb(71, 85, 105);
  --text-color: rgb(148, 163, 184);
  --error-color: red;
}
@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Inter/Inter-VariableFont_opsz,wght.ttf) format("truetype")
}
body {
  background-color: var(--dark-bg);
  color: var(--text-color);
  color-scheme: dark;
  font-family: "Inter var", system-ui, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
}
fieldset {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin: 10px 0;
}
/* TODO check this works on Windows for background color */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
textarea {
  resize: vertical;
}
label {
  margin-bottom: .25rem;
}
.button {
  color: white;
  padding: .5rem .75rem;
  border-radius: .375rem;
  border-color: transparent;
  cursor: pointer;
}
.button[disabled] {
  color: gray;
  background-color: var(--button-disabled-bg);
  cursor: not-allowed;
}
.submit {
  background-color: var(--button-bg);
}
.field {
  flex-grow: 1;
  padding: .5rem;
  color: white;
  background-color: var(--light-bg);
  border: 1px solid var(--light-bg);
  outline: none;
  border-radius: 6px;
}
.field::placeholder {
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.focusable:focus,
.focusable:focus-visible {
  border-color: var(--button-bg);
}
.focusable:invalid.touched {
  border: 1px solid var(--error-color);
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0 auto;
  width: 500px;
}
.pane {
  flex-grow: 0;
  flex-shrink: 0;
  width: 500px;
}
